pkgbase = vscodium-bin
	pkgdesc = Binary releases of VS Code without MS branding/telemetry/licensing.
	pkgver = 1.94.2.24284
	pkgrel = 1
	url = https://github.com/VSCodium/vscodium
	install = vscodium-bin.install
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = fontconfig
	depends = libxtst
	depends = gtk3
	depends = python
	depends = cairo
	depends = alsa-lib
	depends = nss
	depends = gcc-libs
	depends = libnotify
	depends = libxss
	depends = glibc>=2.28-4
	depends = bash
	optdepends = gvfs: For move to trash functionality
	optdepends = libdbusmenu-glib: For KDE global menu
	provides = vscode
	provides = codium
	provides = vscodium
	conflicts = vscodium
	source = vscodium-bin.desktop
	source = vscodium-bin-url-handler.desktop
	source = vscodium-bin.install
	source = vscodium-bin.sh
	source = vscodium-bin-wayland.desktop
	sha256sums = 3a5bc109974fcf408855c13965f6d6be0997655c5b359de0bfd19a678c00844e
	sha256sums = 6eef345b65bf2679c928c763529540435ab9c6e1836917319810a7a2d484ae1b
	sha256sums = 01ba3d33e76804e2346d08f4eda256a29610c9eb59432e4b016d05ad93d901ba
	sha256sums = 63b9f3e07dcfe92f59e851fdeeaed6ee986950672f75cc950489bce67e85d884
	sha256sums = ef5759114cb0bada639bf89b778679bc7cf4d829151dc5fbf95eb33df4addcd6
	source_x86_64 = https://github.com/VSCodium/vscodium/releases/download/1.94.2.24284/VSCodium-linux-x64-1.94.2.24284.tar.gz
	sha256sums_x86_64 = b9d428c554e3534a29b3e3a59754e70f8150ae2a4bc01d6e5c22a8f24cf47675
	source_aarch64 = https://github.com/VSCodium/vscodium/releases/download/1.94.2.24284/VSCodium-linux-arm64-1.94.2.24284.tar.gz
	sha256sums_aarch64 = 728eccf896fdabb249f2a02e6c35335792b146d1b4ed523ef7a8efb455ba448c

pkgname = vscodium-bin
