
[submodule "repos/opencomic-bin"]
	path = repos/opencomic-bin
	url = ssh://aur@aur.archlinux.org/opencomic-bin.git
	branch = master
[submodule "repos/advcpmv"]
	path = repos/advcpmv
	url = ssh://aur@aur.archlinux.org/advcpmv.git
	branch = master
[submodule "repos/ansifilter"]
	path = repos/ansifilter
	url = ssh://aur@aur.archlinux.org/ansifilter.git
	branch = master
