
[submodule "repos/opencomic-bin"]
	path = repos/opencomic-bin
	url = ssh://aur@aur.archlinux.org/opencomic-bin.git
	branch = master
[submodule "repos/advcpmv"]
	path = repos/advcpmv
	url = ssh://aur@aur.archlinux.org/advcpmv.git
	branch = master
[submodule "repos/ansifilter"]
	path = repos/ansifilter
	url = ssh://aur@aur.archlinux.org/ansifilter.git
	branch = master
[submodule "repos/antibody"]
	path = repos/antibody
	url = ssh://aur@aur.archlinux.org/antibody.git
	branch = master
[submodule "repos/archiso-git"]
	path = repos/archiso-git
	url = ssh://aur@aur.archlinux.org/archiso-git.git
	branch = master
[submodule "repos/aseprite"]
	path = repos/aseprite
	url = ssh://aur@aur.archlinux.org/aseprite.git
	branch = master
[submodule "repos/aur-out-of-date"]
	path = repos/aur-out-of-date
	url = ssh://aur@aur.archlinux.org/aur-out-of-date.git
	branch = master
[submodule "repos/aurutils"]
	path = repos/aurutils
	url = ssh://aur@aur.archlinux.org/aurutils.git
	branch = master
[submodule "repos/aurvote"]
	path = repos/aurvote
	url = ssh://aur@aur.archlinux.org/aurvote.git
	branch = master
[submodule "repos/awesome-git"]
	path = repos/awesome-git
	url = ssh://aur@aur.archlinux.org/awesome-git.git
	branch = master
[submodule "repos/awmtt"]
	path = repos/awmtt
	url = ssh://aur@aur.archlinux.org/awmtt.git
	branch = master
[submodule "repos/betterdiscordctl-git"]
	path = repos/betterdiscordctl-git
	url = ssh://aur@aur.archlinux.org/betterdiscordctl-git.git
	branch = master
[submodule "repos/betterlockscreen"]
	path = repos/betterlockscreen
	url = ssh://aur@aur.archlinux.org/betterlockscreen.git
	branch = master
[submodule "repos/bibata-cursor-theme"]
	path = repos/bibata-cursor-theme
	url = ssh://aur@aur.archlinux.org/bibata-cursor-theme.git
	branch = master
[submodule "repos/boundary-bin"]
	path = repos/boundary-bin
	url = ssh://aur@aur.archlinux.org/boundary-bin.git
	branch = master
[submodule "repos/broken-link-checker"]
	path = repos/broken-link-checker
	url = ssh://aur@aur.archlinux.org/broken-link-checker.git
	branch = master
[submodule "repos/cava"]
	path = repos/cava
	url = ssh://aur@aur.archlinux.org/cava.git
	branch = master
[submodule "repos/code-server"]
	path = repos/code-server
	url = ssh://aur@aur.archlinux.org/code-server.git
	branch = master
[submodule "repos/cointop-bin"]
	path = repos/cointop-bin
	url = ssh://aur@aur.archlinux.org/cointop-bin.git
	branch = master
[submodule "repos/debtap"]
	path = repos/debtap
	url = ssh://aur@aur.archlinux.org/debtap.git
	branch = master
[submodule "repos/discord-ptb"]
	path = repos/discord-ptb
	url = ssh://aur@aur.archlinux.org/discord-ptb.git
	branch = master
[submodule "repos/downloader-cli"]
	path = repos/downloader-cli
	url = ssh://aur@aur.archlinux.org/downloader-cli.git
	branch = master
[submodule "repos/drawio-desktop-bin"]
	path = repos/drawio-desktop-bin
	url = ssh://aur@aur.archlinux.org/drawio-desktop-bin.git
	branch = master
[submodule "repos/dry-bin"]
	path = repos/dry-bin
	url = ssh://aur@aur.archlinux.org/dry-bin.git
	branch = master
[submodule "repos/edex-ui-bin"]
	path = repos/edex-ui-bin
	url = ssh://aur@aur.archlinux.org/edex-ui-bin.git
	branch = master
[submodule "repos/exe-thumbnailer"]
	path = repos/exe-thumbnailer
	url = ssh://aur@aur.archlinux.org/exe-thumbnailer.git
	branch = master
[submodule "repos/fbrokendesktop"]
	path = repos/fbrokendesktop
	url = ssh://aur@aur.archlinux.org/fbrokendesktop.git
	branch = master
[submodule "repos/firefox-esr-bin"]
	path = repos/firefox-esr-bin
	url = ssh://aur@aur.archlinux.org/firefox-esr-bin.git
	branch = master
[submodule "repos/florence"]
	path = repos/florence
	url = ssh://aur@aur.archlinux.org/florence.git
	branch = master
[submodule "repos/fsearch-git"]
	path = repos/fsearch-git
	url = ssh://aur@aur.archlinux.org/fsearch-git.git
	branch = master
[submodule "repos/gallery-dl"]
	path = repos/gallery-dl
	url = ssh://aur@aur.archlinux.org/gallery-dl.git
	branch = master
[submodule "repos/gconf-cleaner"]
	path = repos/gconf-cleaner
	url = ssh://aur@aur.archlinux.org/gconf-cleaner.git
	branch = master
[submodule "repos/gitify-bin"]
	path = repos/gitify-bin
	url = ssh://aur@aur.archlinux.org/gitify-bin.git
	branch = master
[submodule "repos/gitstatus"]
	path = repos/gitstatus
	url = ssh://aur@aur.archlinux.org/gitstatus.git
	branch = master
[submodule "repos/gitui-bin"]
	path = repos/gitui-bin
	url = ssh://aur@aur.archlinux.org/gitui-bin.git
	branch = master
[submodule "repos/glow"]
	path = repos/glow
	url = ssh://aur@aur.archlinux.org/glow.git
	branch = master
[submodule "repos/google-chrome"]
	path = repos/google-chrome
	url = ssh://aur@aur.archlinux.org/google-chrome.git
	branch = master
[submodule "repos/hakuneko-desktop"]
	path = repos/hakuneko-desktop
	url = ssh://aur@aur.archlinux.org/hakuneko-desktop.git
	branch = master
[submodule "repos/heroku-cli-bin"]
	path = repos/heroku-cli-bin
	url = ssh://aur@aur.archlinux.org/heroku-cli-bin.git
	branch = master
[submodule "repos/i3lock-color"]
	path = repos/i3lock-color
	url = ssh://aur@aur.archlinux.org/i3lock-color.git
	branch = master
[submodule "repos/ibus-avro-git"]
	path = repos/ibus-avro-git
	url = ssh://aur@aur.archlinux.org/ibus-avro-git.git
	branch = master
[submodule "repos/jmtpfs"]
	path = repos/jmtpfs
	url = ssh://aur@aur.archlinux.org/jmtpfs.git
	branch = master
[submodule "repos/libuiohook"]
	path = repos/libuiohook
	url = ssh://aur@aur.archlinux.org/libuiohook.git
	branch = master
[submodule "repos/libva-intel-driver-hybrid"]
	path = repos/libva-intel-driver-hybrid
	url = ssh://aur@aur.archlinux.org/libva-intel-driver-hybrid.git
	branch = master
[submodule "repos/light-git"]
	path = repos/light-git
	url = ssh://aur@aur.archlinux.org/light-git.git
	branch = master
[submodule "repos/losslesscut-bin"]
	path = repos/losslesscut-bin
	url = ssh://aur@aur.archlinux.org/losslesscut-bin.git
	branch = master
[submodule "repos/lscolors-git"]
	path = repos/lscolors-git
	url = ssh://aur@aur.archlinux.org/lscolors-git.git
	branch = master
[submodule "repos/lsdesktopf"]
	path = repos/lsdesktopf
	url = ssh://aur@aur.archlinux.org/lsdesktopf.git
	branch = master
[submodule "repos/lynis-git"]
	path = repos/lynis-git
	url = ssh://aur@aur.archlinux.org/lynis-git.git
	branch = master
[submodule "repos/maldet"]
	path = repos/maldet
	url = ssh://aur@aur.archlinux.org/maldet.git
	branch = master
[submodule "repos/mkp224o"]
	path = repos/mkp224o
	url = ssh://aur@aur.archlinux.org/mkp224o.git
	branch = master
[submodule "repos/msg2"]
	path = repos/msg2
	url = ssh://aur@aur.archlinux.org/msg2.git
	branch = master
[submodule "repos/nerd-fonts-source-code-pro"]
	path = repos/nerd-fonts-source-code-pro
	url = ssh://aur@aur.archlinux.org/nerd-fonts-source-code-pro.git
	branch = master
[submodule "repos/nodejs-mapscii"]
	path = repos/nodejs-mapscii
	url = ssh://aur@aur.archlinux.org/nodejs-mapscii.git
	branch = master
[submodule "repos/nomad"]
	path = repos/nomad
	url = ssh://aur@aur.archlinux.org/nomad.git
	branch = master
[submodule "repos/notion-app"]
	path = repos/notion-app
	url = ssh://aur@aur.archlinux.org/notion-app.git
	branch = master
[submodule "repos/obfs4proxy"]
	path = repos/obfs4proxy
	url = ssh://aur@aur.archlinux.org/obfs4proxy.git
	branch = master
[submodule "repos/obs-input-overlay-bin"]
	path = repos/obs-input-overlay-bin
	url = ssh://aur@aur.archlinux.org/obs-input-overlay-bin.git
	branch = master
[submodule "repos/obs-v4l2sink"]
	path = repos/obs-v4l2sink
	url = ssh://aur@aur.archlinux.org/obs-v4l2sink.git
	branch = master
[submodule "repos/oomox"]
	path = repos/oomox
	url = ssh://aur@aur.archlinux.org/oomox.git
	branch = master
[submodule "repos/opensnitch-git"]
	path = repos/opensnitch-git
	url = ssh://aur@aur.archlinux.org/opensnitch-git.git
	branch = master
[submodule "repos/otf-san-francisco"]
	path = repos/otf-san-francisco
	url = ssh://aur@aur.archlinux.org/otf-san-francisco.git
	branch = master
[submodule "repos/p7zip-gui"]
	path = repos/p7zip-gui
	url = ssh://aur@aur.archlinux.org/p7zip-gui.git
	branch = master
[submodule "repos/passivedns-git"]
	path = repos/passivedns-git
	url = ssh://aur@aur.archlinux.org/passivedns-git.git
	branch = master
[submodule "repos/patat-bin"]
	path = repos/patat-bin
	url = ssh://aur@aur.archlinux.org/patat-bin.git
	branch = master
[submodule "repos/picom-ibhagwan-git"]
	path = repos/picom-ibhagwan-git
	url = ssh://aur@aur.archlinux.org/picom-ibhagwan-git.git
	branch = master
[submodule "repos/pipes.sh"]
	path = repos/pipes.sh
	url = ssh://aur@aur.archlinux.org/pipes.sh.git
	branch = master
[submodule "repos/pkgoutofdate-git"]
	path = repos/pkgoutofdate-git
	url = ssh://aur@aur.archlinux.org/pkgoutofdate-git.git
	branch = master
[submodule "repos/pm2ml"]
	path = repos/pm2ml
	url = ssh://aur@aur.archlinux.org/pm2ml.git
	branch = master
[submodule "repos/popcorntime-bin"]
	path = repos/popcorntime-bin
	url = ssh://aur@aur.archlinux.org/popcorntime-bin.git
	branch = master
[submodule "repos/powerpill"]
	path = repos/powerpill
	url = ssh://aur@aur.archlinux.org/powerpill.git
	branch = master
[submodule "repos/python-ffmpeg"]
	path = repos/python-ffmpeg
	url = ssh://aur@aur.archlinux.org/python-ffmpeg.git
	branch = master
[submodule "repos/python-itunespy"]
	path = repos/python-itunespy
	url = ssh://aur@aur.archlinux.org/python-itunespy.git
	branch = master
[submodule "repos/python-pydes"]
	path = repos/python-pydes
	url = ssh://aur@aur.archlinux.org/python-pydes.git
	branch = master
[submodule "antibody"]
	path = antibody
	url = ssh://aur@aur.archlinux.org/antibody.git
	branch = master
[submodule "repos/python-pytube"]
	path = repos/python-pytube
	url = ssh://aur@aur.archlinux.org/python-pytube.git
	branch = master
[submodule "repos/python-rapidfuzz"]
	path = repos/python-rapidfuzz
	url = ssh://aur@aur.archlinux.org/python-rapidfuzz.git
	branch = master
[submodule "repos/python-simber"]
	path = repos/python-simber
	url = ssh://aur@aur.archlinux.org/python-simber.git
	branch = master
[submodule "repos/python-spotdl"]
	path = repos/python-spotdl
	url = ssh://aur@aur.archlinux.org/python-spotdl.git
	branch = master
[submodule "repos/python-spotipy"]
	path = repos/python-spotipy
	url = ssh://aur@aur.archlinux.org/python-spotipy.git
	branch = master
[submodule "repos/python-youtube-search-git"]
	path = repos/python-youtube-search-git
	url = ssh://aur@aur.archlinux.org/python-youtube-search-git.git
	branch = master
[submodule "repos/python-ytmusicapi"]
	path = repos/python-ytmusicapi
	url = ssh://aur@aur.archlinux.org/python-ytmusicapi.git
	branch = master
[submodule "repos/python2-twodict-git"]
	path = repos/python2-twodict-git
	url = ssh://aur@aur.archlinux.org/python2-twodict-git.git
	branch = master
[submodule "repos/python3-memoizedb"]
	path = repos/python3-memoizedb
	url = ssh://aur@aur.archlinux.org/python3-memoizedb.git
	branch = master
[submodule "repos/python3-xcgf"]
	path = repos/python3-xcgf
	url = ssh://aur@aur.archlinux.org/python3-xcgf.git
	branch = master
[submodule "repos/python3-xcpf"]
	path = repos/python3-xcpf
	url = ssh://aur@aur.archlinux.org/python3-xcpf.git
	branch = master
[submodule "repos/resvg"]
	path = repos/resvg
	url = ssh://aur@aur.archlinux.org/resvg.git
	branch = master
[submodule "repos/ricochet"]
	path = repos/ricochet
	url = ssh://aur@aur.archlinux.org/ricochet.git
	branch = master
[submodule "repos/robo3t-bin"]
	path = repos/robo3t-bin
	url = ssh://aur@aur.archlinux.org/robo3t-bin.git
	branch = master
[submodule "repos/rofi-greenclip"]
	path = repos/rofi-greenclip
	url = ssh://aur@aur.archlinux.org/rofi-greenclip.git
	branch = master
[submodule "repos/runjs-bin"]
	path = repos/runjs-bin
	url = ssh://aur@aur.archlinux.org/runjs-bin.git
	branch = master
[submodule "repos/siji-git"]
	path = repos/siji-git
	url = ssh://aur@aur.archlinux.org/siji-git.git
	branch = master
[submodule "repos/spicetify-cli"]
	path = repos/spicetify-cli
	url = ssh://aur@aur.archlinux.org/spicetify-cli.git
	branch = master
[submodule "repos/spotify"]
	path = repos/spotify
	url = ssh://aur@aur.archlinux.org/spotify.git
	branch = master
[submodule "repos/stretchly-bin"]
	path = repos/stretchly-bin
	url = ssh://aur@aur.archlinux.org/stretchly-bin.git
	branch = master
[submodule "repos/surf"]
	path = repos/surf
	url = ssh://aur@aur.archlinux.org/surf.git
	branch = master
[submodule "repos/tlpui-git"]
	path = repos/tlpui-git
	url = ssh://aur@aur.archlinux.org/tlpui-git.git
	branch = master
[submodule "repos/tor-browser"]
	path = repos/tor-browser
	url = ssh://aur@aur.archlinux.org/tor-browser.git
	branch = master
[submodule "repos/ttf-anka-coder"]
	path = repos/ttf-anka-coder
	url = ssh://aur@aur.archlinux.org/ttf-anka-coder.git
	branch = master
[submodule "repos/ttf-firacode"]
	path = repos/ttf-firacode
	url = ssh://aur@aur.archlinux.org/ttf-firacode.git
	branch = master
[submodule "repos/ttf-ms-fonts"]
	path = repos/ttf-ms-fonts
	url = ssh://aur@aur.archlinux.org/ttf-ms-fonts.git
	branch = master
