
[submodule "repos/opencomic-bin"]
	path = repos/opencomic-bin
	url = ssh://aur@aur.archlinux.org/opencomic-bin.git
	branch = master
[submodule "repos/advcpmv"]
	path = repos/advcpmv
	url = ssh://aur@aur.archlinux.org/advcpmv.git
	branch = master
[submodule "repos/ansifilter"]
	path = repos/ansifilter
	url = ssh://aur@aur.archlinux.org/ansifilter.git
	branch = master
[submodule "repos/antibody"]
	path = repos/antibody
	url = ssh://aur@aur.archlinux.org/antibody.git
	branch = master
[submodule "repos/archiso-git"]
	path = repos/archiso-git
	url = ssh://aur@aur.archlinux.org/archiso-git.git
	branch = master
[submodule "repos/aseprite"]
	path = repos/aseprite
	url = ssh://aur@aur.archlinux.org/aseprite.git
	branch = master
[submodule "repos/aur-out-of-date"]
	path = repos/aur-out-of-date
	url = ssh://aur@aur.archlinux.org/aur-out-of-date.git
	branch = master
[submodule "repos/aurutils"]
	path = repos/aurutils
	url = ssh://aur@aur.archlinux.org/aurutils.git
	branch = master
[submodule "repos/aurvote"]
	path = repos/aurvote
	url = ssh://aur@aur.archlinux.org/aurvote.git
	branch = master
[submodule "repos/awesome-git"]
	path = repos/awesome-git
	url = ssh://aur@aur.archlinux.org/awesome-git.git
	branch = master
[submodule "repos/awmtt"]
	path = repos/awmtt
	url = ssh://aur@aur.archlinux.org/awmtt.git
	branch = master
[submodule "repos/betterdiscordctl-git"]
	path = repos/betterdiscordctl-git
	url = ssh://aur@aur.archlinux.org/betterdiscordctl-git.git
	branch = master
[submodule "repos/betterlockscreen"]
	path = repos/betterlockscreen
	url = ssh://aur@aur.archlinux.org/betterlockscreen.git
	branch = master
[submodule "repos/bibata-cursor-theme"]
	path = repos/bibata-cursor-theme
	url = ssh://aur@aur.archlinux.org/bibata-cursor-theme.git
	branch = master
[submodule "repos/boundary-bin"]
	path = repos/boundary-bin
	url = ssh://aur@aur.archlinux.org/boundary-bin.git
	branch = master
[submodule "repos/broken-link-checker"]
	path = repos/broken-link-checker
	url = ssh://aur@aur.archlinux.org/broken-link-checker.git
	branch = master
[submodule "repos/cava"]
	path = repos/cava
	url = ssh://aur@aur.archlinux.org/cava.git
	branch = master
[submodule "repos/code-server"]
	path = repos/code-server
	url = ssh://aur@aur.archlinux.org/code-server.git
	branch = master
