pkgbase = whitesur-icon-theme
	pkgdesc = MacOS Big Sur like icon theme for linux desktops
	pkgver = 2024.05.28
	pkgrel = 1
	url = https://github.com/vinceliuice/WhiteSur-icon-theme
	arch = any
	license = GPL-3.0-only
	makedepends = gtk-update-icon-cache
	optdepends = whitesur-gtk-theme: Recommended GTK theme
	optdepends = whitesur-kde-theme: Recommended KDE theme
	optdepends = whitesur-cursor-theme: Recommended cursor theme
	conflicts = whitesur-icon-theme-git
	options = !strip
	source = WhiteSur-icon-theme-2024-05-28.tar.gz::https://github.com/vinceliuice/WhiteSur-icon-theme/archive/2024-05-28.tar.gz
	sha256sums = b1581448b2bf4b1b2588e92edd610d7c35af7e61a90d049787e0763c8dc792ce

pkgname = whitesur-icon-theme
