pkgbase = whitesur-icon-theme
	pkgdesc = MacOS Big Sur like icon theme for linux desktops
	pkgver = 2025.02.10
	pkgrel = 1
	url = https://github.com/vinceliuice/WhiteSur-icon-theme
	arch = any
	license = GPL-3.0-only
	makedepends = gtk-update-icon-cache
	optdepends = whitesur-gtk-theme: Recommended GTK theme
	optdepends = whitesur-kde-theme: Recommended KDE theme
	optdepends = whitesur-cursor-theme: Recommended cursor theme
	conflicts = whitesur-icon-theme-git
	options = !strip
	source = WhiteSur-icon-theme-2025-02-10.tar.gz::https://github.com/vinceliuice/WhiteSur-icon-theme/archive/v2025-02-10.tar.gz
	sha256sums = b94a3db27bd746c267b882a957f863e3ef62eebec7d21c4436b90913597386a6

pkgname = whitesur-icon-theme
