pkgbase = whitesur-icon-theme
	pkgdesc = MacOS Big Sur like icon theme for linux desktops
	pkgver = 2024.04.22
	pkgrel = 1
	url = https://github.com/vinceliuice/WhiteSur-icon-theme
	arch = any
	license = GPL-3.0-only
	makedepends = gtk-update-icon-cache
	optdepends = whitesur-gtk-theme: Recommended GTK theme
	optdepends = whitesur-kde-theme: Recommended KDE theme
	optdepends = whitesur-cursor-theme: Recommended cursor theme
	conflicts = whitesur-icon-theme-git
	options = !strip
	source = WhiteSur-icon-theme-2024-04-22.tar.gz::https://github.com/vinceliuice/WhiteSur-icon-theme/archive/2024-04-22.tar.gz
	sha256sums = 8ca875adcb8aefa58239b5faeab9c9cb645758c590fae8f83391f7e50fcca6cc

pkgname = whitesur-icon-theme
