pkgbase = librewolf-bin
	pkgdesc = Community-maintained fork of Firefox, focused on privacy, security and freedom.
	pkgver = 144.0.2_1
	pkgrel = 1
	epoch = 1
	url = https://librewolf.net/
	install = librewolf-bin.install
	arch = x86_64
	arch = aarch64
	license = MPL-2.0
	makedepends = git
	depends = gtk3
	depends = libxt
	depends = startup-notification
	depends = mime-types
	depends = dbus
	depends = nss
	depends = ttf-font
	depends = libpulse
	depends = ffmpeg4.4
	depends = hicolor-icon-theme
	depends = libxdamage
	depends = libxi
	depends = alsa-lib
	depends = libxrender
	depends = libxcursor
	depends = gdk-pixbuf2
	depends = libxrandr
	depends = pango
	depends = freetype2
	depends = glibc
	depends = bash
	depends = fontconfig
	depends = libxcomposite
	depends = glib2
	depends = gcc-libs
	depends = libx11
	depends = libxfixes
	depends = at-spi2-core
	depends = libxcb
	depends = cairo
	depends = nspr
	depends = libxext
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	provides = librewolf
	conflicts = librewolf
	options = !emptydirs
	backup = usr/lib/librewolf/librewolf.cfg
	backup = usr/lib/librewolf/distribution/policies.json
	source = git+https://gitlab.com/librewolf-community/browser/source.git#tag=144.0.2-1
	source = default192x192.png
	source = librewolf.desktop
	validpgpkeys = 662E3CDD6FE329002D0CA5BB40339DD82B12EF16
	sha256sums = 08c25438ad3f28eb3adecf724282b323fd0212d9f49c47247df1bf598cb80cd4
	sha256sums = 959c94c68cab8d5a8cff185ddf4dca92e84c18dccc6dc7c8fe11c78549cdc2f1
	sha256sums = 7d01d317b7db7416783febc18ee1237ade2ec86c1567e2c2dd628a94cbf2f25d
	source_x86_64 = https://gitlab.com/api/v4/projects/44042130/packages/generic/librewolf/144.0.2-1/librewolf-144.0.2-1-linux-x86_64-package.tar.xz
	source_x86_64 = https://gitlab.com/api/v4/projects/44042130/packages/generic/librewolf/144.0.2-1/librewolf-144.0.2-1-linux-x86_64-package.tar.xz.sig
	sha256sums_x86_64 = 22cda59b0362fc8c9dcb005194636102f00605809d07c4bb35710c081f62879a
	sha256sums_x86_64 = SKIP
	source_aarch64 = https://gitlab.com/api/v4/projects/44042130/packages/generic/librewolf/144.0.2-1/librewolf-144.0.2-1-linux-arm64-package.tar.xz
	source_aarch64 = https://gitlab.com/api/v4/projects/44042130/packages/generic/librewolf/144.0.2-1/librewolf-144.0.2-1-linux-arm64-package.tar.xz.sig
	sha256sums_aarch64 = 2c7c07ea1e3b22652cb9b630b768d5d3f0b863db9f8f83fc0421c1f11a7d8066
	sha256sums_aarch64 = SKIP

pkgname = librewolf-bin
